<main class="portfolio">
	<div class="row">
		<div class="col-xs-12 col-md-6 col-lg-4">
			<div class="card card--info">
				<div class="card__img-top-container">
					<a href="https://frozen-brushlands-73275.herokuapp.com/" target="_blank">
						<%= image_tag("bass-music.png", :alt => "rss feed", class: 'card__img-top') %>
					</a>
				</div>
				<div class="card__block">
					<h4 class="card__title mt-3">Bass Music</h4>
					<div class="meta card__text card__text--source-container">
						<a class="card__source"></a>
						<span class="card__date">May, 2019</span>
					</div>
					<div class="card__text card__text--description">A bootstrap music app with CRUD functionality</div>
				</div>
				<div class="card__footer">
					<small class="card__ticker">Rails,</small>
					<small class="card__ticker">Bootstrap</small>
					<a href="https://frozen-brushlands-73275.herokuapp.com/" target="_blank">
						<button class="btn btn-info float-right btn-sm card__btn--open">OPEN</button>
					</a>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-4">
			<div class="card card--info">
				<div class="card__img-top-container">
					<a href="https://thawing-reef-24159.herokuapp.com/" target="_blank">
						<%= image_tag("bolt-network.png", :alt => "rss feed", class: 'card__img-top') %>
					</a>
				</div>
				<div class="card__block">
					<h4 class="card__title mt-3">Bolt Network</h4>
					<div class="meta card__text card__text--source-container">
						<a class="card__source"></a>
						<span class="card__date">May, 2019</span>
					</div>
					<div class="card__text card__text--description">A bootstrap Rails app with simple routing</div>
				</div>
				<div class="card__footer">
					<small class="card__ticker">Rails,</small>
					<small class="card__ticker">Bootstrap</small>
					<a href="https://thawing-reef-24159.herokuapp.com/" target="_blank">
						<button class="btn btn-info float-right btn-sm card__btn--open">OPEN</button>
					</a>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-4">
			<div class="card card--info">
				<div class="card__img-top-container">
					<a href="https://guarded-castle-56676.herokuapp.com/" target="_blank">
						<%= image_tag("bookmarks.png", :alt => "rss feed", class: 'card__img-top') %>
					</a>
				</div>
				<div class="card__block">
					<h4 class="card__title mt-3">Bookmarks</h4>
					<div class="meta card__text card__text--source-container">
						<a class="card__source"></a>
						<span class="card__date">May, 2019</span>
					</div>
					<div class="card__text card__text--description">A simple book ranking app with index and show pages.</div>
				</div>
				<div class="card__footer">
					<small class="card__ticker">Rails,</small>
					<small class="card__ticker">sqlite3</small>
					<a href="https://guarded-castle-56676.herokuapp.com/" target="_blank">
						<button class="btn btn-info float-right btn-sm card__btn--open">OPEN</button>
					</a>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-4">
			<div class="card card--info">
				<div class="card__img-top-container">
					<a href="https://powerful-dusk-10590.herokuapp.com/" target="_blank">
						<%= image_tag("innovation-cloud.png", :alt => "rss feed", class: 'card__img-top') %>
					</a>
				</div>
				<div class="card__block">
					<h4 class="card__title mt-3">Innovation Cloud</h4>
					<div class="meta card__text card__text--source-container">
						<a class="card__source"></a>
						<span class="card__date">May, 2019</span>
					</div>
					<div class="card__text card__text--description">A single-page site utilizing database posting</div>
				</div>
				<div class="card__footer">
					<small class="card__ticker">Rails,</small>
					<small class="card__ticker">Bootstrap,</small>
					<small class="card__ticker">sqlite3</small>
					<a href="https://powerful-dusk-10590.herokuapp.com/" target="_blank">
						<button class="btn btn-info float-right btn-sm card__btn--open">OPEN</button>
					</a>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-4">
			<div class="card card--info">
				<div class="card__img-top-container">
					<a href="https://safe-fortress-59104.herokuapp.com" target="_blank">
						<%= image_tag("messenger-app.png", :alt => "rss feed", class: 'card__img-top') %>
					</a>
				</div>
				<div class="card__block">
					<h4 class="card__title mt-3">Messenger</h4>
					<div class="meta card__text card__text--source-container">
						<a class="card__source"></a>
						<span class="card__date">May, 2019</span>
					</div>
					<div class="card__text card__text--description">A simple, yet beautiful, messenger app</div>
				</div>
				<div class="card__footer">
					<small class="card__ticker">Rails,</small>
					<small class="card__ticker">Bootstrap,</small>
					<small class="card__ticker">sqlite3</small>
					<a href="https://safe-fortress-59104.herokuapp.com" target="_blank">
						<button class="btn btn-info float-right btn-sm card__btn--open">OPEN</button>
					</a>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-4">
			<div class="card card--info">
				<a href="https://aqueous-atoll-39240.herokuapp.com/" target="_blank">
					<div class="card__img-top-container">
						<%= image_tag("movie-app.png", :alt => "rss feed", class: 'card__img-top') %>
					</div>
				</a>
				<div class="card__block">
					<h4 class="card__title mt-3">Movie App</h4>
					<div class="meta card__text card__text--source-container">
						<a class="card__source"></a>
						<span class="card__date">May, 2019</span>
					</div>
					<div class="card__text card__text--description">An IMDB-like app showcasing many-to-many db relationships</div>
				</div>
				<div class="card__footer">
					<small class="card__ticker">Rails,</small>
					<small class="card__ticker">Bootstrap,</small>
					<small class="card__ticker">sqlite3</small>
					<a href="https://aqueous-atoll-39240.herokuapp.com/" target="_blank">
						<button class="btn btn-info float-right btn-sm card__btn--open">OPEN</button>
					</a>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-4">
			<div class="card card--info">
				<div class="card__img-top-container">
					<a href="https://radiant-peak-49377.herokuapp.com/" target="_blank">
						<%= image_tag("threadly.png", :alt => "rss feed", class: 'card__img-top') %>
					</a>
				</div>
				<div class="card__block">
					<h4 class="card__title mt-3">Threadly</h4>
					<div class="meta card__text card__text--source-container">
						<a class="card__source"></a>
						<span class="card__date">May, 2019</span>
					</div>
					<div class="card__text card__text--description">A sick single-page messaging app</div>
				</div>
				<div class="card__footer">
					<small class="card__ticker">Rails,</small>
					<small class="card__ticker">sqlite3</small>
					<a href="https://radiant-peak-49377.herokuapp.com/" target="_blank">
						<button class="btn btn-info float-right btn-sm card__btn--open">OPEN</button>
					</a>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-4">
			<div class="card card--info">
				<div class="card__img-top-container">
					<%= image_tag("traveler-app.png", :alt => "rss feed", class: 'card__img-top') %>
				</div>
				<div class="card__block">
					<h4 class="card__title mt-3">BokenjiKan</h4>
					<div class="meta card__text card__text--source-container">
						<a class="card__source"></a>
						<span class="card__date">May, 2019</span>
					</div>
					<div class="card__text card__text--description">A travel application showcasing CRUD functionality</div>
				</div>
				<div class="card__footer">
					<small class="card__ticker">Rails,</small>
					<small class="card__ticker">Bootstrap</small>
					<button class="btn btn-info float-right btn-sm card__btn--open">OPEN</button>
				</div>
			</div>
		</div>
	</div>
</main>